<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hello <%= @user.first_name %> and welcome to my page!</h1>
	<p>you are suscrib in mysite.mg with the adress : <%= @user.email %> </p>

	<p>For link to your background client, connect you from <%= @url %> </p>
	 <p> In the next in mysite.mg ! </p>
</body>
</html>